angchain-core==0.3.24 
langchain-community==0.3.11 
angchain-text-splitters==0.3.2

langchain_openai==0.1.7  
langchain_core==0.1.53 #0.1.52
python-dotenv
streamlit
langchain_community==0.0.38
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
cassio
beautifulsoup4
langchain-groq==0.1.5
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox==0.1.0
httpx==0.27.0
chromadb==0.5.x
groq==0.x.x
langserve==0.2.3
langsmith==0.1.x
openai==1.56.1
