langchain_openai 
langchain_core
python-dotenv
streamlit
langchain_community
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
httpx==0.27.0
chromadb==0.5.x
groq==0.x.x
langserve==0.2.3
langsmith==0.1.x
openai==1.56.1
